{{"                         " | Red}}
{{"                         " | Yellow}}
{{"                         " | black | Green}}
{{. | white | Blue}}
{{"                         " | Cyan}}
{{"This tool is actually gay" | magenta | Magenta}}
